<% if(success && success.length) { %> 
    <div class="alert border alert-dismissible fade show shadow" role="alert">
        <span class="text-white"><%= success %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>    
<% if(error && error.length) { %> 
    <div class="alert border alert-dismissible fade show shadow" role="alert">
        <span class="text-white"><%= error %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> 