<a href="/">landing</a>
<a href="/users/login">login</a>
<a href="/users/logout">logout</a>
<a href="/users/register">register</a>
<a href="/users/settings">settings</a>
<a href="/key-manager">index</a>
