<!DOCTYPE html>
<html>
  <head>
    <title>Key Holder</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Key Holder</h1>
    <p>Welcome to Key Holder</p>
  </body>
</html>
