<% layout('layouts/boilerplate') -%>

<div class="text-center text-white pt-5" data-new-gr-c-s-check-loaded="14.1013.0" data-gr-ext-installed="">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column mt-5 pt-5">
      <main role="main" class="inner cover">
        <h1 class="display-4">KEY HOLDER</h1>
        <p class="lead">
            An app designed to store Username and Passwords securely.
        </p>
            <hr>
        <p>
            Every Username and Password stored on our database is encrypted.
            Only you can view your data when logged into your account.
            If you have trouble coming up with a secure password simply let us generate
            a randomized 32 bit password tht will also be encrypted when stored on our database.
        </p>
        <p class="my-5">
          <a href="/users/register" class="btn btn-lg btn-outline-light">REGISTER TODAY</a>
        </p>
      </main>
    </div>
</div>
