<% layout('layouts/boilerplate') -%>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 my-3">
            <h1 class="text-center">Keyholder login</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 rounded login-form text-white shadow-lg p-5">
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control bg-dark text-white" type="text" name="username" id="username" required aria-required>
                </div> 
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control bg-dark text-white" type="password" name="password" id="password" required aria-required="">
                </div>
                <div class="row justify-content-between">
                    <div class="col mb-2 mb-md-0">
                        <button class="btn btn-outline-dark text-white shadow" type="submit">Login</button>
                    </div>
                    <div class="col mr-3">
                        <div class="row justify-content-end mb-2">
                            <a href="/users/forgot">Forgot Password?</a>
                        </div>
                        <div class="row justify-content-end">
                            <a href="/users/register">Need to Register?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>